@use "../../definitions" as *;

.Contact {
  background-color: $color-primary;
  color: $color-white;

  &__content {
    width: 100%;
    margin-top: $gutter-xl;
    display: flex;
    flex-direction: column;
    gap: $gutter-xl;
    @include lg {
      flex-direction: row;
    }
  }

  &__cardContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $gutter-md;
  }

  &__contactForm {
    flex: 1;
  }
}