@use "../../definitions" as *;

.Process {
  background: $color-background;
  color: $color-font-dark;
  padding: 0;

  &__header {
    padding: $gutter-xl $gutter-md;
    margin: 0;
    border-bottom: 1px solid rgba($color-font-dark, 0.12);

    @include md {
      padding: $gutter-xl;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
  }
}

