@font-face {
  font-family: 'Londrina Solid';
  src: url('/tandem-v3/fonts/LondrinaSolid.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Londrina Solid';
  src: url('/tandem-v3/fonts/LondrinaSolid-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('/tandem-v3/fonts/RobotoCondensedVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/tandem-v3/fonts/RobotoVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}