@use "../../definitions" as *;

.Location {
  &__overline {
    font-size: $font-xs;
    font-family: "RobotoCondensed", sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: flex;
    align-items: baseline;
    gap: $gutter-sm;
    margin: 0 0 $gutter-sm 0;
  }

  &__overlineDot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $color-font-dark;
    flex: 0 0 4px;
    transform: translateY(-1px);
  }

  &__map {
    height: 70svh;
    padding: $gutter-md;
    border-radius: $rounded-md;
    background-image: url("/img/map.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: $gutter-md;
  }

  &__box {
    background-color: $color-background;
    padding: $gutter-md;
    border-radius: $rounded-md;
  }
}
